/*********
a couple of color references
Bryn Mawr Grey: #646e7d
Bryn Mawr Yellow: #fff0be
Bryn Mawr Cool Grey: #bebebe
BMC Cyan: #00aaf0
BMC class yellow: #ffe60f
BMC class green: #00a58c
BMC class Red: #f04137
BMC class Blue: #005596
tardis blue (pantone 2955C): #003B6F;
international klein blue (via wikipedia): #002FA7 rgba(0,48,166)
slate grey: #747C95
*********/

/* base styles */
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Lora', 'Georgia', serif;
	font-size: 16px;
	height:100%;
	margin: 0;
	padding: 0;
}
#container {
	position: relative;
	width: 960px;
	margin: 20px auto 20px 0;
	min-height:100%;
}
h1 {
	color: #005596;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}
h1 em{
  font-style: normal;/* undo italics when the text is in italics to start */
}

h2 {
	color: #005596;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 6px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

h3 {
	color: #005596;
	font-family: 'Lora', 'Georgia', serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	border-bottom: 1px solid #bfc3d0;
	color: inherit;
	padding-bottom: 2px;
	text-decoration: none;
}
a:hover {
	color: #005596;
}

p {
	line-height: 1.5em;
	margin: 0;
	padding: 0px 20px 16px 20px;
}
ul {
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}

li {
	margin: 0;
	padding: 2px 0;
}

img {
	display:block;
	margin: 10px auto;
}

a img {
	border: none;
}


figure {
  border-radius: 12px;
  border: 2px solid #bfc3d0;
  display: table;
  padding:8px;
  width: 200px; /*makes this shrink to figure size*/
}
figure img{
  display: table-row;
  margin:0px;
  margin-bottom: 8px;
}
figcaption {
  display: table-row;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 14px;
  text-align: justify;
}

blockquote {
  color: #515663;
  float: right;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-right:-100px;
  margin: 0px;
  padding: 10px 20px;
  width: 320px;
}
cite{
  color: #646e7d;
  display: block;
  font-family: 'Lora', 'Georgia', serif;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
.align-left {
	float: left;
	margin: 5px 12px 12px 5px;
}
.align-center {
	display:block;
	margin: 5px auto;
}
.align-sidebar {
	float:right;
	padding:0;
	margin: 5px -230px 10px 10px;
	max-width: 220px;
}

cite a{
  border: none;
}

cite:before {
content: "– ";
}
pre{
	margin:0;
}

/*section formatting classes*/
#content {
	margin: 0;
	padding: 22px 10px 80px 250px;
}
#head_nav {
	left: 0px;
	margin-top: 0px;
	position: absolute;
	text-align: right;
	top: 0px;
	width: 240px;
}

#site_nav {
  color: #005596;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 40px;
}
#site_nav li {
	list-style: none;
	margin-bottom: 12px;
	padding-right: 12px;
}
#site_nav a {
	border: none;
}

footer {
  border-top: 1px solid #bfc3d0;
  bottom: 0;
  color: #646e7d;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 11px;
  height: 20px;
  margin: 20px 20px 10px 260px;
  padding: 10px 10px;
  position:absolute;
  width:660px;
}

#head-title {
	height: 50px;
	margin: 0px;
	padding-right: 10px;
	position: relative;
}

#site-title {
	bottom: 0px;
	font-family: 'Lora', 'Georgia', serif;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 0px;
	position: absolute;
	right: 0px;
}
#site-title a {
	border-bottom: none;
	color: #646e7d;
	text-decoration: none;
}
#site-title a:hover {
	color: #646e7d;
}
#tagline {
	color: #646e7d;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	line-height: 13px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-top: -3px;
	padding-left: 10px;
	padding-right: 10px;
}

#info li {
	font-size: 14px;
	padding: 0 8px 0 10px;
}
#info a {
  border: none;
  color: #646e7d;
	text-decoration: none;
}

.date {
  color: #646e7d;
  float: right;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 21px 20px 0 10px;
}
.paging {
  padding-top: 20px;
  text-align: center;
}

.paging li{
  color: #646e7d;
  display: inline;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


/*special formatting */
.tight {
	line-height: 1em;
	padding-bottom: 2px;
	padding-left: 16px;
	text-indent: -10px;
}

.tight a {
 padding-bottom: 0;
}

.preh1 {
	margin-top: -10px;
	margin-bottom: -15px;
}
.bullets {
	color: #005596;
	list-style-type: disc;
	padding-left: 10px;
}
li.tight {
	padding-top: 0px;
	padding-bottom: 0px;
}


/*alignment blocks for asides*/
.align-right {
	float: right;
	margin: 10px 10px 10px 20px;
}
.align-left {
	float: left;
	margin: 10px 20px 10px 10px;
}
.align-center {
	display:block;
	margin: 5px auto;
}
.pull-right {
	float: right;
	margin: 10px  -100px 10px 20px;
}
.pull-left {
	float: left;
	margin: 10px 20px 10px -100px;
}
.file-link{
  color: #646e7d;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;
}
.file-link:before {
  content: "[";
}
.file-link:after {
  content: "]";
}
/* code formatting */
.highlight{
	background-color: #E0E0E0;
	overflow:auto;
	padding: 8px 16px;
}

pre{
	margin:0;
}

.r_highlight{
}

.text_highlight{
	background-color: #CDD3E6;
	margin-left: 24px;
	padding: 4px 8px 4px 4px;
}

/*semantics for species names... just like <em>*/
.species {
	font-style: italic;
}
h1 .species{
  font-style: normal;
}

/*Reference text span styles*/
.pub {
	padding-left: 22px;
	text-indent: -16px;
}
.author {
}
.author .self {
	font-weight: bold;
}
.pub .title {
}
.journal {
	font-style: italic;
}
.issue {
	font-weight: bold;
}
.pages {
}
.phone {
  letter-spacing: 1px;
}

