/*********
a couple of color references
tardis blue (pantone 2955C): #003B6F;
international klein blue (via wikipedia): #002FA7 rgba(0,48,166)
slate grey: #747C95
*********/


html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lora', 'Georgia', serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	width: 960px;
	margin: 10px auto 10px 10px;
}

#head_nav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	text-align: right;
	margin-top: 0px;
}

#head_title {
	height: 50px;
	margin: 0px;
	position: relative;
}

#main {
	margin: 0;
	padding: 23px 10px 0 240px;
}

h1 {
	color: #002FA7;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

h1 .species{
  font-style: normal;
}

h1 em{
  font-style: normal;
}

h2 {
	color: #002FA7;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
}


a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid #bfc3d0;
}

a:hover {
	color: #002FA7;
}

p {
	padding: 0 10px 10px 16px;
	margin: 0;
	line-height: 1.5em;
}

p.tight {
	padding-bottom: 2px;
	padding-left: 16px;
	text-indent: -10px;
	line-height: 1em;
}

p.tight a {
 padding-bottom: 0;
}

p.subh1 {
	padding-left: 36px;
	margin: -12px 0;
	line-height: 1em;
}

ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
	list-style-position: inside;
}

ul.bullets {
	padding-left: 32px;
	color: #002FA7;
	list-style-type: disc;
	text-indent: -16px;
}

li {
	margin: 0;
	padding: 2px;
}

li.tight {
	padding-top: 0px;
	padding-bottom: 0px;
}

li.pub {
	padding-left: 22px;
	text-indent: -16px;
}

a img {
	border: none;
}

img {
	display:block;
	margin: 10px auto;
}

.align-right {
	float: right;
	margin: 5px 5px 12px 12px;
}
.align-left {
	float: left;
	margin: 5px 12px 12px 5px;
}
.align-center {
	display:block;
	margin: 5px auto;
}

.pull-right {
	float: right;
	margin: 5px -100px 12px 12px;
}

.pull-left {
	float: left;
	margin: 5px 12px 12px -100px;
}

.title {
	font-style: normal;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family: 'Lora', 'Georgia', serif;
	font-weight: bold;
	font-size: 36px;
	
}

.title a {
	color: #747C95;
	text-decoration: none;
	border-bottom: none;
}

.title a:hover {
	color: #747C95;
}

.description {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	color: #747C95;
	font-size: 13px;
	line-height: 13px;
	font-style: italic;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -3px;
	margin-right: 0px;
	margin-bottom: 20px;
}

nav {
	margin-bottom: 40px;
}

nav li {
	list-style: none;
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	padding-right: 12px;
	margin-bottom: 12px;
}

nav a {
	color: #002FA7;
	text-decoration: none;
	border: none;
}



figure {
  display: table;
  border: 2px solid #bdc2cf;
  border-radius: 12px;
  padding:8px;
  width: 200px; //makes this shrink to figure size
}

figure img{
  display: table-row;
  margin:0px;
  margin-bottom: 8px;
}

figcaption {
  display: table-row;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 14px;
  text-align: justify;
}

blockquote {
  float: right;
  width: 320px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 20px;
  margin: 0px;
  margin-right:-100px;
  color: #515663;
}
/* 
blockquote:before {
    content: "“";
    font-size: 80px;
    font-family: 'Lora', 'Georgia', serif;
    display: block;
    height: 30px;
    margin-left: -20px;  
    color: #E9E9E9;
}
 */


cite{
  display: block;
  font-family: 'Lora', 'Georgia', serif;
  font-style: italic;
  text-align: right;
  padding: 0px;
  margin: 0px;
  color: #747C95;
}

cite a{
  border: none;
}

cite:before {
content: "– ";
}

.file-link{
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px; 
  color: #747C95;
}
.file-link:before {
content: "[";
}
.file-link:after {
content: "]";
}

.highlight{
	background-color: #E0E0E0;
	overflow:auto;
	padding: 8px 16px;
}

pre{
	margin:0;
}


.species {
	font-style: italic;
}

/*Reference text span styles*/
.author {
}

.author .self {
	font-weight: bold;
}

.title {
}

.journal {
	font-style: italic;
}

.issue {
	font-weight: bold;
}

.pages {
}

.phone {
  letter-spacing: 1px;
}

#info li {
	padding: 0 22px 0 10px;
	font-size: 14px;
}
#info a {
  color: #747C95;
	text-decoration: none;
	border: none;
}

#info ul {
	padding: 0;
	padding-right: 22px
	padding-left: 10px

}

