html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lora', 'Georgia', serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	min-width: 820px;
	max-width: 1200px;
	margin: 10px auto 10px auto;
}

#head_nav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	text-align: right;
	margin-top: 0px;
}

#head_title {
	height: 50px;
	margin: 0px;
	position: relative;
}

#main {
	margin: 0;
	padding: 0 240px 0 220px;
	padding-top: 22px;
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 10px;
	width: 240px;
}

h1 {
	color: #3049A6;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	color: #3049A6;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #747C95;
	text-decoration: none;
}

a:hover {
	color: #3049A6;
}

p {
	padding: 0 10px 10px 16px;
	margin: 0;
}

p.tight {
	padding-bottom: 0;
	padding-left: 16px;
	text-indent: -10px;
}

p.subh1 {
	padding-left: 36px;
	margin: -12px 0;
}

ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
	list-style-position: inside;
}

ul.bullets {
	padding-left: 32px;
	color: #3049A6;
	list-style-type: disc;
	text-indent: -16px;
}

li {
	margin: 0;
	padding: 2px;
}

li.tight {
	padding-top: 0px;
	padding-bottom: 0px;
}

li.pub {
	padding-left: 22px;
	text-indent: -16px;
}

a img {
	border: none;
}

img {
	display:block;
	margin: 10px auto;
}

.align-right {
	float: right;
	margin: 5px 5px 12px 12px;
}

h1.title {
	font-style: normal;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family: 'Lora', 'Georgia', serif;
	font-weight: bold;
	font-size: 36px;
}

h1.title a {
	color: #747C95;
	text-decoration: none;
}

h1.title a:hover {
	color: #747C95;
}

h2.description {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #747C95;
	font-size: 12px;
	line-height: 12px;
	font-style: italic;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -3px;
	margin-right: 0px;
	margin-bottom: 20px;
}

nav li {
	list-style: none;
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	padding-right: 12px;
	margin-bottom: 12px;
}

nav a {
	color: #3049A6;
	text-decoration: none;
}

#sidebar h2 {
	margin-bottom: 0px;
}

#sidebar ul {
	padding: 0;
	font-size: 14px;
}

#sidebar li {
	padding: 0 10px 0 22px;
}

.sideblock{
	padding:10px;
}

.sideblock img{
	max-width: 220px;
}

.sidefig{
	float:right;
	padding:0;
	margin: 5px -10px 10px 10px;
	max-width: 220px;
}


.highlight{
	background-color: #E0E0E0;
	overflow:auto;
	padding: 8px 16px;
}

pre{
	margin:0;
}


.species {
	font-style: italic;
}

/*Reference text span styles*/
.author {
}

.author .self {
	font-weight: bold;
}

.title {
}

.journal {
	font-style: italic;
}

.issue {
	font-weight: bold;
}

.pages {
}

.phone {
  letter-spacing: 1px;
}




