
figure.boxed {
  border-radius: var(--bs-border-radius-xl);
  border: 1px solid #bebebe;
  display: table;
  padding:0.5em;
  margin: 0.5em 1em;
  width: 200px; /*makes this shrink to figure size*/
}
figure.boxed img{
  display: table-row;
  margin:0;
  margin-bottom: 8px;
}
figure.boxed figcaption {
  display: table-row;
  font-size: 80%;
  line-height: 1.1;
  text-align: justify;
}

figure.pull-right {
  float: right;
	margin-right: 0;
}

figure.pull-left {
	margin-left: 0;
}

/* Drop figure pulling in narrow format */
@media (max-width: 767px) {
	figure.pull-right {
		float: none;
		margin:	0.5em auto;
	}

	figure.pull-left {
		float: none;
		margin:	0.5em auto;
	}
}

/* Special classes
---------------------------------------*/
.file-link{
  color: #646e7d;
  font-size: 70%;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
}
.file-link:before {
  content: "[";
}
.file-link:after {
  content: "]";
}


