<div id="info">
  <ul>
	  <li>email:
	   <script type="text/javascript">
           <!--
           document.write('<a href="mai');
           document.write('lto');
           document.write(':&#106;&#111;&#115;&#104;');
           document.write('@');
           document.write('&#115;&#104;&#97;&#112;&#98;&#105;&#111;&#46;&#110;&#101;&#116;">');
           document.write('&#106;&#111;&#115;&#104;');
           document.write('@');
           document.write('&#115;&#104;&#97;&#112;&#98;&#105;&#111;&#46;&#110;&#101;&#116;<\/a>');
           // -->
      </script>
      <noscript>&#106;&#111;&#115;&#104; at
           &#115;&#104;&#97;&#112;&#98;&#105;&#111; dot &#110;&#101;&#116;
      </noscript>
    </li>
    <li>twitter: <a href="http://twitter.com/#!/jashapiro">@jashapiro</a></li>
  </ul>
</div>