<nav id="site_nav" class="navbar navbar-fixed-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">shapbio.me</a>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if page.nav == 'research' %}class = 'active'{% endif %}>
					<a href="/research">research</a>
				</li>
				<li> <li {% if page.nav == 'teaching' %}class = 'active'{% endif %}>
					<a href="/teaching">teaching</a>
				</li>
				<!-- 
				<li {% if page.nav == 'labnote' %}class = 'active'{% endif %}>
					<a href="/labnotes/">lab notes</a>
				</li> -->
				<li {% if page.nav == 'cv' %}class = 'active'{% endif %}>
					<a href="/cv">curriculum&nbsp;vitae</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>