<!DOCTYPE html>

<html>
  <head>
	  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	  <title>ShapBio{% if page.title %}: {{ page.title }} {% endif %}</title>
	  <meta name="author" content="Joshua A Shapiro" />
	  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Lora:400,700,400italic' rel='stylesheet' type='text/css'>
	  <link type="text/css" rel="stylesheet" href="/css/default.css" />

	  <!-- Google Analytics -->
	  <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31317675-1']);
        _gaq.push(['_setDomainName', 'shapbio.me']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </head>
  <body class="{{ page.layout }}">
	<div id="container">
	 <div id="head_nav">
	    <div id="head_title">
	  	    <h1 class="title"><a href="/" >shapbio.me</a></h1>
	  	</div>
	  	<h2 class="description">evolutionary genomics and such from<br>Joshua A Shapiro PhD</h2>
	  	<nav id="site_nav">
		  <ul>
			  <li><a href="/research">research</a></li>
	          <li><a href="/teaching">teaching</a></li>
			  <li><a href="/cv">curriculum<br> vitae</a></li>
		  </ul>
	  	</nav>

	     <div id="info">
		   <ul>
				  <li>
				  email:
				  <script type="text/javascript">
	                <!--
	                document.write('<a href="mai');
	                document.write('lto');
	                document.write(':&#106;&#111;&#115;&#104;');
	                document.write('@');
	                document.write('&#115;&#104;&#97;&#112;&#98;&#105;&#111;&#46;&#110;&#101;&#116;">');
	                document.write('&#106;&#111;&#115;&#104;');
	                document.write('@');
	                document.write('&#115;&#104;&#97;&#112;&#98;&#105;&#111;&#46;&#110;&#101;&#116;<\/a>');
	                // -->
	                </script><noscript>&#106;&#111;&#115;&#104; at
	                &#115;&#104;&#97;&#112;&#98;&#105;&#111; dot &#110;&#101;&#116;</noscript>
	            </li>
	            <li>twitter: <a href="http://twitter.com/#!/jashapiro">@jashapiro</a>
		  </ul>
		 </div>
	  </div>
	  <div id="main">
		 <section id="content">
			  {{ content }}
		  </section>
	  </div>


	</div>
  </body>
</html>


