---
layout: default
---
<article>
  <header class="article-header">
    <span class = "date">{{ page.date | date_to_string }}</span>
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
</article>

<nav class="paging">
  <ul>
  {% if page.previous %}
    <li><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">previous</a></li>
    {% if page.next %}
      <li>|</li>
    {% endif %}
  {% endif %}
  {% if page.next %}
    <li><a href="{{ page.next.url }}" title="{{ page.next.title }}">next</a></li>
  {% endif %}
  </ul>
</nav>
  