<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
    {% include codestyle.html %}
    {% include headnav_noprint.html %}
    {% include mathjax.html %}
  </head>
  <body class="{{ page.layout }}">
    <div id="container">
      <header id="head_nav" class="noprint">
          {% include site_title.html %}
          {% include site_nav.html %}
          {% include info.html %}
      </header>
      <div id="content">
        {% include pagetitle.html %}
        {{ content }}
      </div>
      <footer class="noprint">
		    {% include footer.html %}
		  </footer>
		</div>
  </body>
</html>
