<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
    {% include codestyle.html %}
    {% include nav_noprint.html %}
    {% include mathjax.html %}
  </head>
  <body class="{{ page.layout }}">
	<div id="wrap">
      <header id="head_nav" class="noprint">
          {% include site_nav.html %}
      </header>
      <div class="container">
        {% include pagetitle.html %}
        {{ content }}
      </div>
    </div>
      <footer id="footer" class="noprint" >
      	<div class = "container">
		    {% include footer.html %}
      	</div>
	  </footer>
	
  </body>
</html>
